In [46]:
import pandas as pd
import numpy as np

In [47]:
data=pd.read_csv('spam.csv')
data.head()

  Label                                          EmailText
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [48]:
data.shape

(5572, 2)

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Label      5572 non-null   object
 1   EmailText  5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [50]:
data.describe()

       Label               EmailText
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [51]:
x=data['EmailText']
y=data['Label']

In [52]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=4)

In [53]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.svm import SVC

countvectorizer=CountVectorizer()
train_featute=countvectorizer.fit_transform(x_train)
model=SVC()
model.fit(train_featute,y_train)

SVC()

In [54]:
test_feature=countvectorizer.transform(x_test)
print(model.score(test_feature,y_test)*100)

97.48878923766816